body {
    background-color: #ECA58D;
    font-size: large;
    font-family: 'Raleway', 'Urbanist', 'Comfortaa', Verdana, Tahoma, sans-serif;
    padding: 20px;
}

/*Headings*/
    h1 {
        font-family: 'Rampart One', Georgia, Times, serif;
        text-align: center;
        border: 6px solid royalblue;
        padding: 20px;
    }
    h2 {
        font-family: 'Rubik Moonrocks', 'Luckiest Guy', Georgia, Times, serif;
        padding-top: 20px;
    }
    h3 {
        font-family: 'Megrim', 'Raleway Dots', Georgia, Times, serif;
        padding-top: 5px;
    }
    h4 {
        font-family: 'Domine', 'Arvo', Georgia, Times, serif;
        text-align: center;
    }

/*Main Text*/
    p {
        background-color: #F2C3B3;
        padding: 10px;
    }
    pre {
        background-color: #9FC69F;
        font-family: 'Indie Flower', cursive;
        padding: 10px;
    }

/* Font Ideas
    Notes Font: 
        'Nanum Pen Script', 'Schoolbell', 'Yuji Boku', 'Dokdo'
    Mono Font:
        'Syne Mono', monospace
    */

/* Color Swatches
    Dark Salmon-White
        #E9967A Dark Salmon
        #ECA58D body
        #EFB4A0
        #F2C3B3 p
        #F6D2C6
        #F9E1D9
        #FCF0EC
        #FFFFFF White