/* Body */
    body {
        /*background-color: #ECA58D;*/
        font-size: large;
        font-family: sans-serif;
        /*text-align: center;*/
        padding: 20px;
    }

/* Headings */
    h1 {
        font-family: serif;
        /*border: 6px solid royalblue;*/
        padding: 20px;
    }
    h2 {
        font-family: serif;
        padding-top: 20px;
    }
    h3 {
        font-family: serif;
        padding-top: 5px;
    }
    h4 {font-family: serif;}
    
    .projCard > h4, .linkCard > h4 {text-align: center;}

/* Main Text */
    p {padding: 10px;}
    code {background-color: #000000;}
    pre {
        background-color: #999999;
        font-family: cursive;
        padding: 10px;
    }

/* Lists */
    ul {list-style: circle outside;}
    dt {font-weight: bold;}
    dd {padding: 0, 0, 0.5em, 0;}

/* Links */
    a:link {
        /*color: #3CB371;*/
        background-color: transparent;
        font-weight: bold;
    } 
    a:hover {
        /*color: #228B22;*/
        background-color: transparent;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
    }  
    a:active {font-style: italic;}
    a:visited {background-color: transparent;}

/* Flexbox */
    /* Project Gallery */
        .projGallery {
            border-style: inset;
            border-width: 4px;
            border-radius: 12px;
            
            border-color: #444444 #999999 #BBBBBB #666666;
            background-color: #777777;

            padding: 5px;
            margin: 5px;

            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: stretch;
            align-content: space-around;
        }
        .projCard {
            border-style: outset;
            border-width: 4px;
            border-radius: 12px;
                
            border-color: #DDDDDD #777777 #555555 #BBBBBB;
            background-color: #999999;

            padding: 5px;
            margin: 5px;

            flex: 1 1 400px;
            
            /*min-width: 25%;*/
            max-width: 550px;
            /*min-height: 45%;*/
            max-height: 300px;
        }
        .projImage {
            padding: 5px;

            float: right;

            max-height: 70%;
            max-width: 40%;
        }
    
    /* Link Gallery */
        .linkGallery {
            border-style: inset;
            border-width: 4px;
            border-radius: 12px;
            
            border-color: #444444 #999999 #BBBBBB #666666;
            background-color: #777777;

            padding: 5px;
            margin: 5px;

            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: stretch;
            align-content: space-around;
        }
        .linkCard {
            border-style: outset;
            border-width: 4px;
            border-radius: 12px;
                
            border-color: #DDDDDD #777777 #555555 #BBBBBB;
            background-color: #999999;

            padding: 5px;
            margin: 5px;

            flex: 1 1 400px;
            
            /*min-width: 25%;*/
            max-width: 550px;
            /*min-height: 45%;*/
            /*max-height: 300px;*/
        }
        .linkImage {
            padding: 5px;

            float: right;

            max-height: 70%;
            max-width: 40%;
        }
    
    /* Default Gallery */
        .pageGallery {
            border-style: hidden;
            
            padding: 5px;
            margin: 5px;

            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: stretch;
            align-content: space-around;
        }
        .textCard {
            border: 1px none #000000;
                
            padding: 5px;
            margin: 5px;

            flex: 1 1 400px;
            
            /*min-width: 25%;*/
            /*max-width: 550px;*/
            /*min-height: 45%;*/
            /*max-height: 300px;*/
        }
        .naviCard {
            border-style: hidden;
                
            padding: 5px;
            margin: 5px;

            flex: 0 1 400px;
            
            /*min-width: 25%;*/
            max-width: 400px;
            /*min-height: 45%;*/
            /*max-height: 300px;*/
        }
        .defaImage {
            padding: 5px;

            float: right;

            max-height: 70%;
            max-width: 40%;
        }