@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;

  --font-normal: 400;
  --font-bold: 700;
  --font-bolder: 900;

  --color-bg: #fcfcfc;
  --color-1: #4756df;
  --color-2: #ff7235;
  --shadow-1: #8b8eaf;
  --shadow-2: #a17a69;

  --margin-bottom: 0.5rem;
  --margin-bottom-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-1);
}

a:hover {
  color: var(--color-2);
	font-weight: var(--font-bold);
}

body {
  font-family: var(--font-family);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--color-bg);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}