/* META */
    body {
        padding: 1em;
        font-size: large;
        font-family: sans-serif;
    }
    header, footer, nav, aside, section, div, article {
        margin: 1em;
        border-radius: 12px;
        padding: 1em;
    }
    header, footer, div, article {border: 2px solid #000000;}
    header, footer {border-color: limegreen;}
    aside {border-color: orange;}
    nav {padding: 0;}

/* PAGE LAYOUT */
    /*Top to Tail*/
        header {height: 15vh;}
        .flexContainer0 {display: flex;}/*min-height: calc(100vh - 25vh);*/
        footer {height: 10vh;}
    
    /*Left to Right*/
        .flexContainer0 > #left {
            flex: 0 0 20vw;
            order: -1; /*Nav comes first*/
        }
        .flexContainer0 > #middle {
            flex: 0 1 auto;
            min-width: 30vw;
        }
        .flexContainer0 > #right {flex: 0 0 15vw;}
        .flexContainer0 > article {flex: 1;}

/* SECTIONS */
    .showYes {display:block}
    .showNo {display: none;}

/* TEXT */
    /*General*/
        h1, h2, h3, h4 {padding: 20px auto 5px;}
        p {padding: 10px;}
        /*code {}*/
        pre {
            background-color: #999999;
            font-family: cursive;
            padding: 10px;
        }
        summary del {color: #aa0000;}

    /*Lists*/
        /*details {border: solid;}*/
        nav details {
            padding: 0px 20px;
            line-height: 1.5em;
        }
        ul {list-style: circle outside;}
        details ul {
            border: 2px outset #000000;
            border-radius: 20px;
            background-color: #eeeeee;
            padding: 10px;
        }
        li {margin: 0.5em;}
        nav li {list-style-type: none;}
        dt {font-weight: bold;}
        dd {padding: 0, 0, 0.5em, 0;}
    
    /*Links*/
        a:link {font-weight: bold;}
        a:hover, a:active {color: #ffffff;}
        a:visited {font-style: italic;}
    
    /*Buttons*/
        #neuroswitcher {text-align: center;}
        #neuroswitcher button {
            margin: 10px auto;
            border: 5px double #000000;
            border-radius: 5px;
            background-color: #fefeee;
            padding: 5px 10px;
            font-weight: lighter;
        }
        #neuroswitcher button:hover {
            text-decoration-line: underline;
            background-color:#9999aa;
            color: yellow;
            text-transform: uppercase;
            font-weight:bolder
        }

/* Flexbox */
    .flexContainer1_column {
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
        align-content: stretch;
        flex: 1 0 auto;
    }

    .gallGen, .gallProj {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;

        flex: 0;
        
        margin: 50px;
        border: 4px inset #444444 #999999 #BBBBBB #666666;
        border-radius: 12px;
        padding: 25px;
    }
    .gallProj {background-color: #777777;}

/* Flex Items */
    .cardLayout {
        flex: 0 1 auto /*was 400px*/;
        
        margin: 5px;
        min-width: 80%;
        max-width: 80%;
        border: 2px outset #000000;
        border-radius: 12px;
        padding: 10px;
    }
    .cardLayout h3, .cardLayout h4 {text-align: center;}
    .cardLayout > ol {list-style-type: georgian;}

/* To Sort
    .linkImage {
        padding: 5px;
        float: right;
        max-height: 70%;
        max-width: 40%;
    }
    .defaImage {
        padding: 5px;
        float: right;
        max-height: 70%;
        max-width: 40%;
    }
*/