.gridContainer {
    display: grid;
    grid: auto / auto auto auto;
    gap: 10px 10px;
}

.dud {border: dotted; background-color: beige; text-align: center;}
.box {
    border: solid;
    border-radius: 20px;
    background-color: skyblue;
}
.box :is(h1, h2, h3, h4, h5, h6) {text-align: center;}
.box p {text-align: center;}

.win1 {grid-area: 1 / 2 / span 1 / span 2;}
.winState {grid-area: 1 / 5 / span 1 / span 3;
    text-align: center;
}
.win2 {grid-area: 1 / 9 / span 1 / span 2;}

.storyTitle {grid-area: 2 / 4 / span 1 / span 5;
    text-align: center;
}
.story {grid-area: 3 / 5 / span 6 / span 3;
    text-align: center;
}

.choice1Title {grid-area: 3 / 3 / span 1 / span 2;
    text-align: left;
}
.choice1Text {grid-area: 4 / 2 / span 2 / span 3;
    text-align: left;
}

.choice2Title {grid-area: 3 / 8 / span 1 / span 2;
    text-align: right;
}
.choice2Text {grid-area: 4 / 8 / span 2 / span 3;
    text-align: right;
}

.statsPTitle {grid-area: 7 / 1 / span 5 / span 2;
    text-align: justify;
}
.statsPText {grid-area: 10 / 3 / span 2 / span 3;
    text-align: justify;
}

.statsWTitle {grid-area: 7 / 10 / span 5 / span 2;
    text-align: justify
}
.statsWText {grid-area: 10 / 7 / span 2 / span 3;
    text-align: justify
}



/*
    + 1 2 3 4 5 6 7 8 9 0 1
    1 - - - X X X X X - - -
    2 - - - - - - - - - - -
    3 - - - - X X X - - - -
    4 X X X - X X X - X X X
    5 X X X - X X X - X X X
    6 X X X - X X X - X X X
    7 X X X - X X X - X X X
    8 - - - - X X X - - - -
    9 - X X X X X X X X X -
    0 - X X X - - - X X X -
*/


/*
2023-autumn-MjYwNw

a is 20, and b is 10. B was assigned the value that a had at a very specific point in time; the fact that a has now changed does not mean that b has also changed. They've grown apart, and you've basically just shown me a very sad breakup in code form
*/