/*|| PAGE LAYOUT ||*/
    /*General*/
        body {
            font-size: large;
            font-family: sans-serif;
        }
        header, footer, section, nav, aside, article, main, div {border-radius: 12px;}
        header, footer, section, nav, aside, article {
            margin: 1em;
            padding: 1em;
        }
        footer {border: 1px dashed limegreen;}

    /*Top to Tail*/
        .gallery0_head {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            max-height: 15vh;
            border: 1px dashed darkcyan;
            padding: 0 auto;
        }
        .gallery0_main {
            display: flex;
            flex-flow: row nowrap;
            /*min-height: calc(100vh - 25vh);*/
        }
        .gallery0_bottom{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            max-height: 10vh;
            border: 1px dashed darkcyan;
            padding: 0 auto;
        }
    
    /*Left to Right*/
        #left {order: -99; flex: 0 1 15%;}
        #middle {order: 0; flex: 1 1 70%;}
        #right {order: 99; flex: 0 1 15%;}
    
    /* Show & Hide */
        .showYes {display:block}
        .showNo {display: none;}

/*|| TEXT FORMATTING ||*/
    /*General*/
        h1, h2, h3, h4, h5, h6 {padding: 20px auto 5px; text-align: center;}
        p {line-height: 1.2em;}
        /*code {}*/
        pre {font-family: cursive;}
        summary del {color: #aa0000;} /*strikethru details*/
    
    /*Lists*/
        ul {list-style: circle outside;}
        li {margin: 0.5em;}
        dt {font-weight: bold;}
        dd {padding: 0, 0, 0.5em, 0;}
    
    /*Links*/
        a:link {font-weight: bold;}
        /*a:hover, a:active {color: #ffffff;} LOL*/
        a:visited {font-style: italic;}

/*|| WITHIN LEFT ||*/
    /*General*/
        #left details {/*menus in nav*/
            padding: 0px 20px;
            line-height: 1.5em;
        }
        #left ul {/*ul inside details*/
            border: 2px outset #000000;
            border-radius: 20px;
            background-color: #eeeeee;
            padding: 10px;
        }
        #left li {list-style-type: none;} /*no bullet in nav*/

/*|| WITHIN RIGHT ||*/
    /*General*/
        #right {text-align: center;}
        #right button {
            margin: 10px auto;
            border: 5px double #000000;
            border-radius: 5px;
            background-color: #fefeee;
            padding: 5px 10px;
            font-weight: lighter;
        }
        #right button:hover {
            text-decoration-line: underline;
            background-color:#9999aa;
            color: yellow;
            text-transform: uppercase;
            font-weight:bolder
        }

/*|| FLEX GALLERIES ||*/
    .gallery1_column {
        flex: 1 0 auto;

        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: stretch;
        align-content: stretch;

        border: 1px dashed darkkhaki;
    }
    .gallery1_row {
        flex: 0;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: start;
        align-content: start;
        
        border: 1px dashed darkcyan;
        /*background-color: #777777;*/
    }

/*|| FLEX CARDS ||*/
    .cardSite {
        flex: 1 1 auto;
        margin: 1em 0;
        max-width: 50%;
    }
    .cardPage {
        flex: 1 1 auto;
        margin: auto 0;
        max-width: 30%;
    }
    .cardLayout {
        flex: 0 1 auto;
        margin: 5px;
        
        max-width: 80%;
        border: 2px outset #000000;
        border-radius: 12px;
        padding: 10px;
    }
    .cardProject {
        flex: 1 1 30%;
        margin: 5px;
        
        max-width: 80%;
        border: 2px outset #000000;
        border-radius: 12px;
        padding: 10px;

        text-align: center;
    }
    .cardGhost {
        flex: 0 1 auto;
        margin: 1em;
        border-style: none;
        border-radius: 12px;
    }
    
    /*Within Layout Card*/
        .cardLayout :is(h2, h3, h4, h5, h6) {text-align: center;}
        .cardLayout p {
            display: block;
            margin: auto;
            max-width: 80%;
            padding: 1em 0 0 0;
        }
        .cardLayout ol {list-style-type: georgian;}
        .cardLayout > *:last-child {padding-bottom: 1em;}

    /*Within Project Cards*/
        .cardProject img {
            margin: auto;
            max-width: 60%;
            border: 1px solid black;
            border-radius: 20px;
        }

/*|| TO SORT ||*/
    /*Images*/
    .linkImage {
        padding: 5px;
        float: right;
        max-height: 70%;
        max-width: 40%;
    }
    .defaImage {
        padding: 5px;
        float: right;
        max-height: 70%;
        max-width: 40%;
    }