/*#####################################*/
/*#            LIGHTS UP!             #*/
/*#####################################*/

    body {
        font-size: large;
        font-family: sans-serif;
    }
    header, footer, section, nav, aside, article, main, div {border-radius: 12px;}
    header, footer, section, nav, aside, article {margin: 1em}
    main {margin: 0 1em;}
    header, footer, section, article {padding: 1em;}
    nav {margin-left: 0; padding: 0;}
    aside {margin-right: 0; padding: 0;}
    
    header {border: 2px dashed green;}
    main {border: 2px dashed purple;}
    footer {border: 2px dashed orange;}

/*|| FORMATTING ||*/
    /*Headers*/
        h1, h2, h3, h4, h5, h6 {
            padding: 20px auto 5px;
            text-align: center;
        }

    /*Text*/
        p {line-height: 1.2em;}
        code {font-family: monospace;}
        pre {font-family: cursive;}
        summary del {color: #aa0000;}

    /*Links*/
        a:link {font-weight: bold;}
        a:hover, a:active {color: #aaaaaa;}
        a:visited {font-style: italic;}

    /*Lists*/
        ul {list-style: circle outside;}
        li {margin: 0.5em;}
        dt {font-weight: bold;}
        dd {padding: 0, 0, 0.5em, 0;}


/*#####################################*/
/*##    #########################    ##*/
/*###    ####    #######    ####    ###*/
/*####                             ####*/
/*#####•••NOW: LET US GET FUNKY•••#####*/
/*####                             ####*/
/*###    ####    #######    ####    ###*/
/*##    #########################    ##*/
/*#####################################*/

/*#####################################*/
/*#           L A Y O U T ?           #*/
/*#####################################*/

/*|| LEVEL 0: PAGE STRUCTURE ||*/
    /*Top to Tail*/
        .gallery0_head {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            max-height: 15vh;
            padding: 0 auto;
        }
        .gallery0_main {
            display: flex;
            flex-flow: row nowrap;
            /*min-height: calc(100vh - 25vh);*/
        }
        .gallery0_bottom{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            max-height: 10vh;
            padding: 0 auto;
        }
    
    /*Left to Right*/
        .left {
            order: -99;
            flex: 0 1 15%;
            border: 2px dashed mediumpurple;
        }
        .middle {
            order: 0;
            flex: 1 1 65%;
            
            margin-left: 0;
            margin-right: 0;
            border: 2px dashed mediumorchid;
        }
        .right {
            order: 99;
            flex: 0 1 20%;
            border: 2px dashed blueviolet;
        }


/*#####################################*/
/*#        SECTIONS?                  #*/
/*#                  SECTIONS!        #*/
/*#####################################*/

/*|| LEVEL 1: SECTION STRUCTURE ||*/
    /*Any Section*/
        .gallery1_column {
            flex: 1 0 auto;

            display: flex;
            flex-flow: column nowrap;
            justify-content: start;
            align-items: stretch;
            align-content: stretch;
        }
        .gallery1_row {
            flex: 0;

            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            align-content: flex-start;
            /*background-color: #777777;*/
        }

    /*Side Sections*/
        /*Formatting*/
            .left, .right {text-align: center;}
            .left details, .right details {/*menus in nav*/
                padding: 5px 20px;
                line-height: 1.5em;
            }
            .left ul, .right ul {
                border: 2px outset #000000;
                border-radius: 20px;
                background-color: #eeeeee;
                padding: 10px;
            }
            .left li, .right li {list-style-type: none;} /*no bullet in nav*/
    
        /*Buttons*/
            .left button, .right button {
                margin: 2px;
                border: 5px double #000000;
                border-radius: 5px;
                background-color: #fefeee;
                padding: 5px 10px;
            }
            .left button:hover, .right button:hover {
                background-color:#9999aa;
                color: yellow;
            }

    /*Middle Section*/
        /*Type Classes*/
            .type {flex: 1 1 30%;
                display: none;
                max-width: fit-content;
                
                margin: 5px;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 12px;
                padding: 5px;

                text-align: center;
            }

            .typeTitle {order: -100;
                border-style: outset;
                font-family: display;
            }

            .typeContent {order: 0;
                border-style: outset;
            }

            .typeImage {order: 0;
                border-style: inset;
            }

            .typeLink {order: 0;
                border-style: outset;
                border-radius: 50px;
                padding: 10px;
                font-family: monospace;
            }

            .typeModal {order: 0;
                border-style: double;
            }

            .typeQuote {order: 0;
                border-style: outset;
                background-color: #9999aa;
                font-family: serif;
            }

            .typeText {order: 0;
                border-style: dotted;
            }

            .typeTextIntro {order: 0;
                border-style: none;
            }

            .typeNone {order: 100;
                background-color: rgba(246, 4, 4, 0.2);
            }

    


/*#####################################*/
/*#              C A R D              #*/
/*#####################################*/

/*|| CARD TYPES ||*/
    .cardSite {
        flex: 1 1 auto;
        margin: 1em 0;
        border: 2px dashed seagreen;
        max-width: 50%;
    }
    .cardPage {
        flex: 1 1 auto;
        margin: auto 0;
        border: 2px dashed lawngreen;
        max-width: 30%;
    }
    .cardLayout {
        flex: 0 1 auto;
        margin: 5px;
        
        /* max-width: 80%; */
        border: 2px outset #000000;
        border-radius: 12px;
        padding: 10px;
    }
    .cardGhost {
        flex: 0 1 auto;
        margin: 1em;
        border-style: none;
        border-radius: 12px;
    }
    
/*|| CARD CONTENT ||*/
    /*Layout Card*/
        .cardLayout :is(h2, h3, h4, h5, h6) {text-align: center;}
        .cardLayout p {
            display: block;
            margin: auto;
            max-width: 80%;
            padding: 1em 0 0 0;
        }
        .cardLayout ol {list-style-type: georgian;}
        /* .cardLayout > *:last-child {padding-bottom: 1em;} */

    /*Project Cards*/
        .type img {
            margin: auto;
            max-width: 60%;
            border: 1px solid black;
            border-radius: 20px;
        }


/*#####################################*/
/*#               TRASH               #*/
/*#####################################*/
    /*Images*/
        .linkImage, .defaImage {
            padding: 5px;
            /*float: right;*/
            max-height: 70%;
            max-width: 40%;
        }
    

/*#####################################*/
/*#        ~ ~ ¡SILENCIO! ~ ~         #*/
/*#####################################*/

    .showNo {display: none;}