/* Body */
    body {
        /*background-color: #ECA58D;*/
        font-size: large;
        font-family: sans-serif;
        /*text-align: center;*/
        padding: 20px;
    }
/* Headings */
    h1 {
        font-family: serif;
        /*border: 6px solid royalblue;*/
        padding: 20px;
    }
    h2 {
        font-family: serif;
        padding-top: 20px;
    }
    h3 {
        font-family: serif;
        padding-top: 5px;
    }
    h4 {
        font-family: serif;
    }
        .projCard > h4 {
            text-align: center;
        }
/* Main Text */
    p {
        /*background-color: #F2C3B3;*/
        padding: 10px;
    }
    pre {
        /*background-color: #9FC69F;*/
        font-family: cursive;
        padding: 10px;
    }
    code {
        background-color: #000000;
    }
/* Links */
    a:link {
        /*color: #3CB371;*/
        background-color: transparent;
        font-weight: bold;
    } 
    a:hover {
        /*color: #228B22;*/
        background-color: transparent;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
    }  
    a:active {
        /*color: #3CB371;*/
        /*background-color: #2F4F4F;*/
        font-style: italic;
    }
    a:visited {
        /*color: #2E8B57;*/
        background-color: transparent;
    }
/* Layout */
    /* Project Gallery */
    .projGallery {
        border-style: inset;
            border-width: 4px;
            border-radius: 12px;
        
        border-color: #444444 #999999 #BBBBBB #666666;
        background-color: #777777;

        padding: 5px;
        margin: 5px;

        display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: stretch;
            align-content: space-around;
    }
    .projCard {
        border-style: outset;
            border-width: 4px;
            border-radius: 12px;
            
        border-color: #DDDDDD #777777 #555555 #BBBBBB;
        background-color: #999999;

        padding: 5px;
        margin: 5px;

        flex: 1 1 400px;
            /*
            min-width: 25%;
            max-width: 33%;
            */
    }
    .projImage {
        padding: 5px;

        float: right;

        max-height: 70%;
        max-width: 40%;
    }
/* Font Ideas
Notes Font: 
    'Nanum Pen Script', 'Schoolbell', 'Yuji Boku', 'Dokdo'
Mono Font:
    'Syne Mono', monospace
*/
/* Color Swatches
Dark Salmon-White
    #E9967A Dark Salmon
    #ECA58D body
    #EFB4A0
    #F2C3B3 p
    #F6D2C6
    #F9E1D9
    #FCF0EC
    #FFFFFF White